<!doctype html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Bookmarx</title>
</head>
<body>
	<h1>Login!</h1>
	<form method='post' action='/'>
	    <!--  Use CSS to be modern -->
	    <table>
	        <tr>
	            <td>Username: </td><td><input type="text" name="username"  value="" placeholder="Username" ></td></tr>
	            <tr><td>Password: </td><td><input type="password" name="password" value="" placeholder="Password"></td></tr>
	            <tr><td colspan="2"><input type='submit' value="LOGIN"></td>
	        </tr>
	    </table>
	</form>
	<p style="font-family: 'Century Gothic'; color: red;"><%= message %></p>
	<a href="/signup">Sign Up!</a>

</body>
</html>