<!doctype html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Bookmarx</title>
</head>
<body>
	<div class="container">
		<form id="login" method='post' action='/'>
		    <h2>Login!</h2>
		    <table>
		        <tr>
		            <td>Username: </td><td><input class="input-option" type="text" name="username"  value="" placeholder="Username" ></td></tr>
		            <tr><td>Password: </td><td><input class="input-option" type="password" name="password" value="" placeholder="Password"></td></tr>
		            <tr><td colspan="2"><button type='submit' class="login-button">LOGIN</button></td></tr>
								<tr><td colspan="2"><a href="/signup" class="signup-link">SIGN UP</a>	<p style="font-family: 'Century Gothic'; color: red;"><%= message %></p></td></tr>
		        </tr>
		    </table>
		</form>
	</div>
</body>
</html>
