<!doctype html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bookmarx</title>
</head>
<body>
	<h1>Signup!</h1>
	<form method='post' action='/signup'>
	    <!--  Use CSS to be modern -->
	    <table>
	        <tr>
	            <td>Email: </td><td><input type="text" name="username"  value="" placeholder="Email" ></td></tr>
	            <tr><td>Password: </td><td><input type="password" name="password" value="" placeholder="Password"></td></tr>
	            <tr><td colspan="2"><input type='submit' value="Sign Up!"></td>
	        </tr>
	    </table>
	</form>

</body>
</html>